<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
在页面中处理

```html
<p>
    今天是: <span th:text="${#dates.format(today,'yyyy-MM-dd')}">2018-04-25</span>
</p>
```
<hr>
## 4.4 字面值<br>

有的时候，我们需要在指令中填写基本类型如：字符串、数值、布尔等，并不希望被Thymeleaf解析为变量，这个时候称为字面值。<br>

- 字符串字面值<br>

使用一对`'`引用的内容就是字符串字面值了：<br>

```html
<p>
    你正在观看 <span th:text="'thymeleaf'">template</span> 的字符串常量值.
    你正在观看 <span th:text="'${user.name}'">template</span> 的字符串常量值.
</p>
```

`th:text`中的thymeleaf并不会被认为是变量，而是一个字符串
<hr>
数字字面值<br>

数字不需要任何特殊语法， 写的什么就是什么，而且可以直接进行算术运算<br>

```html
<p>今年是 <span th:text="2018">1900</span>.</p>
<p>两年后将会是 <span th:text="2018 + 2">1902</span>.</p>
```
<hr>
- 布尔字面值<br>

布尔类型的字面值是true或false：<br>

```html
<div th:if="1>0">
    你填的是true
</div>
```
这里引用了一个`th:if`指令，跟vue中的`v-if`类似

</body>
</html>